<md-toolbar>
    <div class="md-toolbar-tools">
        <p><strong>ngStuffPrice</strong></p>

        <md-button ng-click="stuffCtrl.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New Post
        </md-button>

        <md-button ng-click="showFilters = true">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Filter
        </md-button>

    </div>
</md-toolbar>

<div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
    <md-input-container style="margin-top: 42px;">
        <label>Enter Search Term</label>
        <input type="text" ng-model="productsFilter">
    </md-input-container>

    <md-input-container>
        <label>Category</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in stuffCtrl.categories" value="{{ category }}">{{ category }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <md-button class="md-warn" ng-click="category = ''; productsFilter = '' ">Clear</md-button>
    </md-input-container>

</div>

<ui-view></ui-view>

<md-content>
    <product-card products='stuffCtrl.products'
                  products-filter="productsFilter"
                  category="category"
                  class="md-padding"
                  layout="row"
                  layout-wrap>
    </product-card>
</md-content>