<md-toolbar>
    <toolbar categories="stuffCtrl.categories"
             show-filters="stuffCtrl.showFilters()">
    </toolbar>
</md-toolbar>

<div class="filters" layout="row" layout-align="center center" ng-show="stuffCtrl.filtersOpen">
    <md-input-container style="margin-top: 42px;">
        <label>Enter Search Term</label>
        <input type="text" ng-model="productsFilter">
    </md-input-container>

    <md-input-container>
        <label>Category</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in stuffCtrl.categories" value="{{ category }}">{{ category }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <md-button class="md-warn" ng-click="category = ''; productsFilter = '' ">Clear</md-button>
    </md-input-container>

</div>

<ui-view></ui-view>

<md-content>
    <product-card products='stuffCtrl.products'
                  products-filter="productsFilter"
                  total-items="stuffCtrl.totalItems"
                  category="category"
                  class="md-padding"
                  layout="row"
                  layout-wrap>
    </product-card>

    <uib-pagination ng-model="stuffCtrl.CurrentPage"
                    total-items="stuffCtrl.totalItems"
                    max-size="stuffCtrl.maxSize"
                    ng-change="stuffCtrl.pageChanged()"
                    boundary-link-numbers="true"
                    rotate="false"
                    class="pagination-sm">
    </uib-pagination>
</md-content>