<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="stuffCtrl.sidenaveOpen">
    <md-toolbar>
        <h1 class="md-toolbar-tools">New Stuff</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="productNewForm" novalidate>
            <md-input-container>
                <label for="title">Title</label>
                <input name="title" type="text" id="title" ng-model="product.title"
                       md-autofocus
                       required>

                <div ng-messages="productNewForm.title.$error" ng-if="productNewForm.title.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="price">Price</label>
                <input name="price" type="number" id="price" ng-model="product.price" required>

                <div ng-messages="productNewForm.price.$error" ng-if="productNewForm.price.$touched">
                    <p ng-message="required">This field is required!</p>
                    <p ng-message="number">Must be a number!</p>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <textarea name="description" type="text" id="description" ng-model="product.description" required>
                </textarea>

                <div ng-messages="productNewForm.description.$error" ng-if="productNewForm.description.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="image">Image Link</label>
                <input type="text" id="image" ng-model="product.image">
            </md-input-container>
            <md-input-container>
                <label>Categories</label>
                <md-select name="categories" ng-model="product.selectedCategories" multiple required>
                    <md-option ng-repeat="category in stuffCtrl.categories" ng-value="category">{{category}}</md-option>
                </md-select>

                <div ng-messages="productNewForm.categories.$error" ng-if="productNewForm.categories.$touched">
                    <p ng-message="required">This field is required!</p>
                </div>
            </md-input-container>

            <div class="actions" layout="row">
                <md-button ng-click="stuffCtrl.saveProduct(product)" class="md-primary" ng-disabled="productNewForm.$invalid">
                    Save
                </md-button>
                <md-button ng-click="stuffCtrl.closeSidebar()" class="md-warn">
                    Cancel
                </md-button>
            </div>
        </form>
    </md-content>
</md-sidenav>