<md-dialog class="login-dialog" aria-label="Login" ng-cloak>
    <form name="loginForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
            </div>
        </md-toolbar>

        <div layout="row" layout-padding class="error-msg" ng-if="loginCtrl.showError"> {{loginCtrl.loginErrorMsg}}</div>

        <md-dialog-content layout-padding>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Email:</label>
                    <input type="email" name="email"
                           ng-model="user_credentials.email"
                           ng-focus="loginCtrl.showError = false"
                           required>

                    <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                        <p ng-message="email">This needs to be a valid email</p>
                        <p ng-message="required">This field is required!</p>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input type="password" name="password"
                           ng-model="user_credentials.password"
                           ng-minlength="6"
                           ng-focus="loginCtrl.showError = false"
                           required>

                    <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                        <p ng-message="minlength">Your password is too short.</p>
                        <p ng-message="required">This field is required!</p>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-primary"
                       aria-label="OK"
                       ng-disabled="loginForm.$invalid"
                       ng-click="loginCtrl.loginSubmit(user_credentials)">
                OK
            </md-button>
            <md-button type="button" ng-click="loginCtrl.closeLogin()"
                       aria-label="Cancel">
                Cancel
            </md-button>
        </md-dialog-actions>

        <md-dialog-actions layout="row" layout-align="center center">
            <div layout="row" layout-align="center center">
                <p>Don't have an account?</p>
            </div>
            <md-button class="md-primary" ng-click="loginCtrl.registerOpen($event)">
               Sign Up
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>