<md-dialog class="login-dialog" aria-label="Register" ng-cloak>
    <form name="registerForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Register</h2>
            </div>
        </md-toolbar>
        <div layout="row" layout-align="center center" class="error-msg" ng-if="registerCtrl.showRegError"> {{registerCtrl.RegErrorMsg}}</div>

        <md-dialog-content layout-padding>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Email:</label>
                    <input name="email" type="email" ng-model="user_credentials.email"
                           ng-focus="registerCtrl.showRegError = false"
                           required>

                    <div ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                        <p ng-message="email">This needs to be a valid email</p>
                        <p ng-message="required">This field is required!</p>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Password:</label>
                    <input name="password" ng-model="user_credentials.password" type="password"
                           ng-minlength="6"
                           ng-focus="registerCtrl.showRegError = false"
                           required>

                    <div ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                        <p ng-message="minlength">Your password is too short.</p>
                        <p ng-message="required">This field is required!</p>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                <label>Password Confirmation:</label>
                <input name="password_confirmation" ng-model="user_credentials.password_confirmation" type="password"
                       ng-minlength="6"
                       ng-focus="registerCtrl.showRegError = false"
                       required>

                <div ng-messages="registerForm.password_confirmation.$error" ng-if="registerForm.password_confirmation.$touched">
                    <p ng-message="minlength">Your password is too short.</p>
                    <p ng-message="required">This field is required!</p>
                </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-primary"
                       aria-label="OK"
                       ng-disabled="registerForm.$invalid"
                       ng-click="registerCtrl.registerSubmit(user_credentials)">
                OK
            </md-button>
            <md-button type="button" ng-click="registerCtrl.closeRegister()"
                       aria-label="Cancel">
                Cancel
            </md-button>
        </md-dialog-actions>

        <md-dialog-actions layout="row" layout-align="center center">
            <div layout="row" layout-align="center center">
                <p>Already have an account?</p>
            </div>
            <md-button class="md-primary" ng-click="registerCtrl.loginOpen($event)">
                Sign In
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>