button .material-icons {
    margin-top: 7px;
}

/* --ngAnimation-- */
.products.ng-enter, .products.ng-move{
    transition: 0.4s all;
    opacity: 0;
}

.products.ng-enter.ng-enter-active, .products.ng-move.ng-move-active{
    opacity: 1;
}

.products.ng-leave{
    animation: 0.4s fade_stuff;
}

@keyframes fade_stuff {
    from { opacity: 1 }
    to { opacity: 0 }
}

/* --ngAnimation-- */


md-dialog.login-dialog{
    max-width: 100%;
    max-height: 115%;
}