<div class="md-toolbar-tools">
    <p><strong>ngStuffPrice</strong></p>

    <md-button ng-click="toolbarCtrl.openSidebar()"
               ng-if="toolbarCtrl.authService.isAuth()">
        <md-icon class="mdi mdi-plus-circle"></md-icon>
        New Post
    </md-button>

    <md-button ng-click="showFilters()">
        <md-icon class="mdi mdi-magnify"></md-icon>
        Filter
    </md-button>

    <span flex></span>

    <md-button aria-label="Login"
               ng-click="toolbarCtrl.openLogin($event)"
               ng-if="!toolbarCtrl.authService.isAuth()">
        Login
    </md-button>

    <md-button aria-label="Logout"
               ng-click="toolbarCtrl.logout()"
               ng-if="toolbarCtrl.authService.isAuth()">
        Logout
    </md-button>

</div>